torch==2.6.0
torchvision==0.21.0
transformers==4.57.1
datasets==3.6.0
accelerate==1.7.0
wandb==0.19.11
click==8.1.8
numpy==2.2.4
tqdm==4.67.1
gliner==0.2.22
optuna==4.3.0
span-marker==1.7.0
groq==0.22.0
python-dotenv==1.1.0
jupyter==1.1.1
matplotlib==3.10.1
pandas==2.2.3
scikit-learn==1.6.1
